{% extends 'tracker/base.html' %}
{% load static %}
{% block title %}Privalytics.io | Stats for {{ website }}{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Referrer Stats</h1>
{#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
{#                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Top
                                    referrer
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ referrers.referrers_list.0 }}</div>
                                <small>Visits: {{ referrers.visits.0 }}</small>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Top Landing Page
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto popular-pages">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ landing_page.0.page|truncatechars:20 }}<span
                                                class="tooltiptext">{{ landing_page.0.page }}</span></div>
                                        <small>Visits: {{ landing_page.0.visits }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">
            <div class="col-lg-8 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Top Referrers</h6>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>Referrer</td>
                                    <td>Visits</td>
                                </tr>
                                </thead>
                                {% for referrer in refs %}
                                    <tr>
                                        <td><a href="{% url 'referrer-details' website.website_url referrer.referrer_url %}">{{ referrer.referrer_url }}</a></td>
                                        <td>{{ referrer.visits }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Top Referrers</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="devicesPieChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block extra_footer %}
{% include 'tracker/referrer_scripts.html' %}
{% endblock %}