<script>
    var ctx = document.getElementById("visitsdaychart");
    var visits_day_chart = new Chart(ctx, {
        type: 'line',
        responsive: true,
        data: {
            datasets: [
                {
                    label: "Daily Visits",
                    fill: false,
                    backgroundColor: '#90aaec',
                    borderColor: '#6c86bd',
                    data: {{ visitors|safe }}
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    },

                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>
<script>
    var countries = {{ countries|safe }};
</script>
<script>
    device_data = {{ devices|safe }};
    var ctx = document.getElementById("devicesPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: device_data['device_label'],
            datasets: [{
                data: device_data['visits_data'],
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#37ccc2', '#2fcc90'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#2baf9a', '#31af80'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: true
            },
            cutoutPercentage: 80,
        },
    });
</script>

<script>
    device_data = {{ operating_systems|safe }};
    var ctx = document.getElementById("os-chart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: device_data['os_label'],
            datasets: [{
                label: "OS",
                data: device_data['visits_data']
            }]
        },
    });
</script>
<script>
    var color = Chart.helpers.color;
    var horizontalBarChartData = {
        labels: ['>1200px', '>992px', '>768px', '>576px', '<576px'],
        datasets: [{
            label: 'Screen Widths',
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#37ccc2', '#2fcc90'],
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#2baf9a', '#31af80'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
            borderWidth: 1,
            data: [{{ screens.xl }}, {{ screens.lg }}, {{ screens.md }}, {{ screens.sm }}, {{ screens.xs }}]
        }]

    };
    var ctx = document.getElementById("screen_width");
    window.myHorizontalBar = new Chart(ctx, {
        type: 'horizontalBar',
        data: horizontalBarChartData,
        options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
                rectangle: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            legend: {
                position: 'right',
            },
            title: {
                display: true,
                text: 'Chart.js Horizontal Bar Chart'
            }
        }
    });
</script>